body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header {
  width: 100%;
  height: 50px;
  text-align: center;
  position: relative;
  top: 20px;
}

header img {
  height: 50px;
  position: relative;
  left: 80px;
}
header p {
  margin: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-top: 30px;
}
.list {
  margin: 0;
  margin-bottom: 5px;
  width: 500px;
  text-align: start;
  font-size: 15px;
  position: relative;
}

form {
  text-align: center;
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.userInput {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 40px;
}

.userInput input {
  width: 420px;
  height: 40px;
  border-radius: 5px;
  border: none;

  font-size: 18px;
}

.int_id {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 430px;
}
.int_id input {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  left: 5px;
}

.int_id span:nth-child(1) {
  display: flex;
}

#addressButton {
  width: 130px;
  margin-left: 10px;
}
/* 이메일 선택창 */
select {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: none;

  font-size: 18px;
}

#emailBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.emailInput {
  width: 432px;
}

/* 취소버튼 */
#canclebtn,
#btnJoin {
  margin: 0;
  width: 220px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background: linear-gradient(150deg, #480ca8, #580579, #d468cb, #f72585);
  background-color: white;
}

#canclebtn {
  background: linear-gradient(150deg, #480ca8, #580579, #d468cb, #f72585);
  color: white;
}

#canclebtn:hover {
  cursor: pointer;
  font-size: 22px;
  width: 222px;
}
#btnJoin:hover {
  cursor: pointer;
  background: linear-gradient(150deg, #480ca8, #580579, #d468cb, #f72585);
  color: white;
  font-size: 22px;
}

select {
  text-align: center;
}

#deleteUser {
  width: 220px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: white;
  position: relative;
  bottom: 20px;
  background: linear-gradient(150deg, #480ca8, #580579, #d468cb, #f72585);
}

#deleteUser:hover {
  cursor: pointer;
  width: 222px;
  height: 41px;

  color: rgb(246, 37, 37);
  background: rgb(110, 107, 107);
  font-size: 20px;
}

#usericon {
  width: 80px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: 10px;
  right: 20px;
}

#usericon:hover {
  cursor: pointer;
  width: 82px;
  height: 61px;
  border: 5px solid rgb(93, 79, 223);
}

footer {
  position: relative;
  top: 8px;
  height: 157px;
  width: 100%;
  text-align: center;
  margin-top: 120px;
}
footer p {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Inter";
  font-size: 16px;
  line-height: 19.36px;
  color: rgba(255, 255, 255, 0.5);
}
