<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource = "dao/DB.properties"/>
	
	<typeAliases>
	</typeAliases>
	
	<environments default = "default">
		<environment id = "default">
			<transactionManager type="JDBC"/>
			<dataSource type = "POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="id" value="${id}"/>
				<property name="pw" value="${pw}"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource = "mappers/user_mapper.xml"/>
	</mappers>
</configuration>