body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

header {
  width: 100%;
  height: 50px;
  text-align: center;
  position: relative;
  top: 20px;
}

header img {
  height: 50px;
  position: relative;
  left: 80px;
}
header p {
  margin: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-top: 30px;
}

/* search */
#search {
  display: flex;
  position: absolute;
  right: 180px;
  top: 21px;
  align-items: center;

  width: 300px;
  height: 40px;

  box-sizing: border-box;
  border-bottom: 2px solid #ffffff;
}
.inputValue {
  width: 300px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;

  color: #5f5f5f;
  background-color: black;
  border: 0;
}
.searchImg {
  position: absolute;
  right: 8px;
  top: 4px;
  width: 26px;
  height: 26px;
}
.list {
  margin: 0;
  margin-bottom: 5px;
  width: 500px;
  text-align: start;
  font-size: 15px;
  position: relative;
}

form {
  text-align: center;
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.userInput {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 40px;
}

.userInput input {
  width: 420px;
  height: 40px;
  border-radius: 5px;
  border: none;

  font-size: 18px;
}

.int_id {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 430px;
}
.int_id input {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  left: 5px;
}

.int_id span:nth-child(1) {
  display: flex;
}

#addressButton {
  width: 130px;
  margin-left: 10px;
}
/* 이메일 선택창 */
select {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: none;

  font-size: 18px;
}

#emailBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.emailInput {
  width: 432px;
}

/* 가입버튼 */
#btnJoin {
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(150deg, #480ca8, #580579, #d468cb, #f72585);
  background-color: white;
}

#btnJoin:hover {
  cursor: pointer;
  width: 423px;
  height: 42px;
  background: linear-gradient(150deg, #480ca8, #580579, #d468cb, #f72585);
  color: white;
  font-size: 22px;
}

select {
  text-align: center;
}
